In [4]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib as mpl

In [8]:
#creating the Data Frame
df = pd.read_csv("playtennis.csv")

In [9]:
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes