# Assignment 2

In [10]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [12]:
#creating the Data Frame
playtennis = pd.read_csv("playtennis.csv")

In [13]:
playtennis.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [15]:
#creating dummy variables
dummy_variables = pd.get_dummies(df[["outlook","temp","humidity","windy","play"]])

In [16]:
dummy_variables.head()

,windy,outlook_overcast,outlook_rainy,outlook_sunny,temp_cool,temp_hot,temp_mild,humidity_high,humidity_normal,play_no,play_yes
0,False,0,0,1,0,1,0,1,0,1,0
1,True,0,0,1,0,1,0,1,0,1,0
2,False,1,0,0,0,1,0,1,0,0,1
3,False,0,1,0,0,0,1,1,0,0,1
4,False,0,1,0,1,0,0,0,1,0,1